.Main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}
  
.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    width: 100%;
    text-align: center;
}

.App-intro {
    font-size: large;
    width: 80%;
    margin: 0 auto;
    padding: 3rem;
    display: flex;
}
.User-list {
    width: 25%;
    border: 1px solid gray;
}
.User-detail {
    width: 75%;
    border: 1px solid grey;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
